/* The following code is derived from the following YouTube tutorial by Clint Briley of the channel "Code Commerce": https://www.youtube.com/watch?v=2kg0z1qNrkw&t=664s */

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }
    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(255, 128, 0, 0.8),
        hsla(0, 0%, 0%, 0.8)
    )!important;
}

.pulse-text > li:hover {
    color:#ff8000;
    animation: pulse-orange 2s linear infinite alternate;
}

.big-small:hover {
    animation: big-small 1.2s linear infinite alternate;
}

.reveal1 {
        animation: reveal1 0.6s cubic-bezier(.09,.72,.77,.98) forwards;
}
    
.reveal2 {
        animation: reveal2 0.8s cubic-bezier(.09,.72,.77,.98) 0.7s forwards;
}
    
.reveal3 {
        animation: reveal3 0.9s cubic-bezier(.09,.72,.77,.98) 1.4s forwards;
}

@keyframes reveal1 {
    to {
        width: 108px;
    }
}

@keyframes reveal2 {
    to {
        width: 405px;
    }
}

@keyframes reveal3 {
    to {
        width: 461px;
    }
}

@keyframes pulse-orange {
    50% {
        text-shadow: 0px 0px 0px #ff8000;
    }

    0%, 100% {
        text-shadow: 0px 0px 25px #ff8000;
    }
}

@keyframes big-small {
    0% {
        scale: 100%;
    }
    50% {
        scale: 105%;
    }
    100% {
        scale: 100%;
    }
}